ul{
  background-color: #283593;
}

li{
  display: inline-block;
  padding: 20px;
  list-style: none;
}

a{
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}

a:hover{
  color: #2196F3;
}

span{
  color: #E91E63;
  margin: 0 100px;
}
