/*ESTILOS GENERALES*/
body{
  /*background-image:url("fondo.jpg");
  /*background-repeat: no-repeat;*/
  /*background-size: cover;
  background-position: top center;*/
  text-align: center;
  font-family: 'Days One', sans-serif;
  }

.boton{
  width: 200px;
  height: 50px;
  color: white;
  font-family: 'Days One', sans-serif;
  font-size: 20px;
  border-radius: 10px;
  background-color: #00838F;
}
  .estiloCancha{
    position: relative;
    margin-top: 3%;
    margin-left: 30%;
    margin-bottom: 5%;
    width: 650px;
    height: 350px;
    border: 2px solid #7CB342;
    background-color: #33691E;
  }

  .cancha{
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
    width: 600px;
    height: 300px;
    border: 3px solid white;
  }
  
  .balon{
    float: left;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
  }

  .estiloForma{
    position: absolute;
    border: 1px solid white;
  }

  .tamForma{
    width: 100px;
    height: 200px;
  }

  .alineaCentro{
    left: 50%;
    height: 300px;
  }

  .tamCirculo{
    width: 50px;
    height: 100px;
  }

  /*ESTILO CANCHA SOCCER*/
  #canchaS{
    cursor: url("playerSoccer.png"), auto;
  }
  #soccerCancha{
    background-color:#7CB342;
  }
  #izq{
    top: 50px;
  }

  #circuloIzq{
    left: 100px;
    top: 33%;
    border-radius: 0 100px 100px 0;
  }

  #circuloCentro{
    top: 30%;
    left: 42%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  #circuloDer{
    right: 17%;
    top: 33%;
    border-radius: 100px 0 0 100px;
  }

  #der{
    top: 50px;
    right: 0;
  }

  /*ESTILO CANCHA BASKET*/
  #canchaB{
    cursor: url("playerBasket.png"), auto;
  }
  #basketCancha{
    background-image: url("duela.jpg");
  }

    #izqB{
      top: 50px;
      border-radius: 0 100px 100px 0;
    }

    #trapecioIzq{
      position: absolute;
      top: 41%;
      /*width: -10px;*/
      height: 34px;
      border-left: 80px solid #FFECB3;
      border-color: rgba(255, 236, 179, 0.7);
      /*border-right: 20px solid transparent;*/
      border-bottom: 10px solid transparent;
      border-top: 10px solid transparent;
    }

    #circuloIzqB{
      left: 9%;
      top: 43%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    #circuloCentroB{
      top: 30%;
      left: 42%;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    #circuloDerB{
      right: 8%;
      top: 43%;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    #trapecioDer{
      position: absolute;
      right: 0;
      top: 41%;
      /*width: -10px;*/
      height: 34px;
      border-right: 80px solid #FFECB3;
      border-color: rgba(255, 236, 179, 0.7);
      /*border-right: 20px solid transparent;*/
      border-bottom: 10px solid transparent;
      border-top: 10px solid transparent;
    }

    #derB{
      top: 50px;
      right: 0;
      border-radius: 100px 0 0 100px;
    }

    /*ESTILO CANCHA TENIS*/
    #canchaT{
      cursor: url("playerTenis.png"), auto;
    }
    #tenisCancha{
      background-color: #5C6BC0;
    }

    #central{
      top: 50px;
      width: 600px;
      height: 200px;
    }

    #centroT{
      left: 50%;
      /*width: 1px;*/
      height: 200px;
    }

    #horizontalT{
      left: 17%;
      top: 50%;
      width: 394px;
    }

    #derT{
      right: 0;
    }
