/*Estilo div principal para centrar los div contenidos*/
.principal{
  position: relative;
  top: 200px;
  left: 40%;
}
.bloque{
  display: inline;/*Muestra los div en linea no toma en cuenta width ni height*/
  padding: 10px;
  margin: 10px;
  background-color: #FFEB3B;
  font-family: verdana;
}

.bloque2{
  background-color: #00BFA5;
}
