/*Estilo div principal para centrar los div contenidos*/
.principal{
  position: relative;
  top: 200px;
  left: 40%;
}
.bloque{
  display: inline-block;/*Muestra los div en linea*/
  width: 170px;
  padding: 0px 0px 20px 0px;
  margin: 5px;
  background-color: #FFEB3B;
  font-family: verdana;
}

.bloque2{
  background-color: #00BFA5;
}
